* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: black;
}
/* nav */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.btn-header {
    font-size: 1em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 0.3em 0.2em;
    margin: 0.2em;
    font-size: 0.7em;
}

/* main */

.container-main {
    width: 90%;
    height: calc(100vh - 110px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-img {
    display: flex;
    width: calc(100% / 7);
    height: calc(100% / 5);
    padding: 0.3em;

}

.name {
    padding-left: 0.3em;
    padding-bottom: 0.3em;
    color: white;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* footer */

footer {
    position: sticky;
    left: 0;
    bottom: 0;
}

.navbar-footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: white;
}

.col-left {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col-center {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.col-right {
    width: 10%;
    height: 100%;
    display: flex;
    background-color: gray;
}

.col-right > div {
    margin: auto;
    color: red;

}

ul {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

ul li {
    list-style-type: none;
    margin-right: 1em;
    cursor: pointer;
}