* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
}

.btn-header {
    font-size: 1em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    padding: 0.3em 0.2em;
    margin: 0.2em;
    font-size: 0.8em;
}

